.footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ededed;
}
.footer__ankor {
  opacity: 0.2;
  transition: 0.2s;
}
.footer__ankor:hover {
  opacity: 1;
}
.footer__ankor-big {
  width: 100px;
  height: 100px;
}
