nav {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}
nav ul li {
  width: 100%;
  gap: 1rem;
}
nav ul li a {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem;
  transform: scale(0.87);
  color: #c7c7c7;
}
nav ul li a:hover {
  background-color: #eee;
  color: #a5a5a5;
}
nav ul li a span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: transform 0.3s linear;
}
nav ul li a.active:hover,
.active {
  color: #fff;
  background-color: #5433ff;
  transform: scale(1);
}
