/** Search */
.search-content {
  max-width: 100%;
  width: 540px;
  margin: 0 auto 5rem;
}
.form-search {
  display: flex;
}
.form-search input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem 0 0 0.75rem;
  font-size: 1rem;
  background-color: white;
  border: 8px solid #5433ff;
}
.form-search input:focus {
  outline: none;
}
.form-search .btn {
  border-radius: 0 0.75rem 0.75rem 0;
}

.form-search .btn:active {
  transform: translateY(0) translateX(-3px);
}
